<h1>Listing events</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td>Workshop</td>
    <td><%= link_to 'Show', network_event_path(event.network,event) %></td>

  </tr>
<% end %>
</table>

<br />


