.navbar {
  color: white;
  background: #D3360B;
  .navbar-inner {
    height: 50px;
    padding-top: 15px;
    background: none;

  }
  .brand {
    color: #fff;
    text-shadow: none;
    font-size: 40px;
    font-weight: 600;
  }
  .nav {

    > li {
      line-height: 23px;
      > a {
        text-shadow: none;
        color: white;
        text-decoration: none;
        font-weight: 300;
        font-size: 18px;
        letter-spacing: 1px;
        margin-left: 10px;
        padding-left: 0;
        padding-right: 0;
        padding-top: 17px;
        &.dropdown-toggle {
          max-width: 160px;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
      }
      > a:not(.last)::after {
        margin-left: 10px;
        content: image-url("star.png");
      }
      > a:hover {
        text-decoration: underline;
        color: #fff;
      }

    }
    li + li {

    }
  }
}


.navbar .nav li.dropdown.open > .dropdown-toggle {
  background-color: transparent;
  color: white;
}

.navbar .nav li.dropdown > .dropdown-toggle .caret {
  border-top-color: #999999;
  border-bottom-color: #999999;
}
.navbar .nav li.dropdown.open > .dropdown-toggle .caret,
.navbar .nav li.dropdown.active > .dropdown-toggle .caret,
.navbar .nav li.dropdown.open.active > .dropdown-toggle .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}